#div2{
text-align: right;

}
#div3{
    text-align: left;
    font-size: 20px;
}
#li1{
    padding-top: 2%;
}
#li2{
    padding-top: 2% ;
}
#li3{
    padding-top: 2%;
}
#bdy{
    text-align: left;
    background-color: rgba(253, 253, 253, 0.904);
}
#heading{
    background-color: rgba(208, 209, 209, 0.87);
}
#div4{
    font-size: 20px;
}
#div5{
    font-size: 20px;
}
#div6{
    font-size: 20px;
}
#li4{
    padding-top: 2%;
}
#headingh1{
    background-color: cadetblue;
}